.carsCard {
    border: 1px solid black;
    border-radius: 10px;
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 15px;
}

.carsCard h5 {
    font-size: 15px;
    margin: 0;
    border-radius: 20px;
}

.carsCard p {
    border-bottom: 1px solid black;
    border-radius: 10px;
    margin: 0;
}