.menu {
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
}
div{
    margin-left: 15px;
}
a {
    border-bottom: 2px solid teal;
    border-radius: 10px;
    padding: 10px;
}

button {
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: mediumaquamarine;
}