ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}
a:hover{
    background-color: teal;
}